.estatistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.valor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    font-size: 4rem;
}

.texto {
    color: #ddd ;
    font-size: 1.7rem;
    font-weight: 200;
}

@media(max-width: 768px) {
    .valor{
        width: 90px;
        height: 90px;
        border-radius: 45px;
        font-size: 2rem;
    }
    .estatistica{
        margin: 5px;
    }
    .texto {
        color: #ddd ;
        font-size: 1rem;
        font-weight: 200;
    }
}